body{
    text-align: center;
}


h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

form {
    background-color: white;
    padding: 1%;
    margin: auto;
    text-align: left;
    border-width: medium;
    border-color: black;
    border-style: solid;
    width: 400px;
    height: auto;
}

box {
    padding: 1px;
    margin: 0 25px;
    width: 200px;
}

box1{
    background-color: lightgreen;
    color: black;
    padding: 1%;
    border: none;
    border-radius: 10%;
    width: 100%;
    font-size: medium;
}

box2{
    background-color: red;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 10%;
    width: 100%;
    font-size: medium;
}